**/.mypy_cache
/experiments_post
/dataset
/results
*.pyc
/.vscode
/.env
*.code-workspace
.idea
*.log

/snap_tmp
/snap
/resources
**/__pycache__
.pytest_cache
mmpose

/outputs
*.swp

/preprocessed
*.log
/tmp
.neptune/
**/build
**/*.egg-info
**/*.whl
